// Place all the styles related to the global layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color Variables
$black: #000;
$white: #fff;

$primary-color: #1dcab2;

$overlay-white: rgba(255, 255, 255, .25);
$overlay-black: rgba(00, 00, 00, .25);

$radius: 4px;
$font-family: 'Dosis', 'Segoe UI', 'Helvetica Neue', Helveitca, Arial, sans-serif;

// Tag SCSS
body {
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

// Class SCSS
.top-bar {
  background: $primary-color;
  .menu {
    background: transparent;
    .menu-text {
      background: $overlay-black;
      border-radius: $radius;
      transition: all .5s;
      a {
        padding: 0 !important;
        margin: 0;
        color: $white;
        opacity: 1;
        transition: all .5s;
        &:hover {
          color: $black;
        }
      }
      &:hover {
        background: $overlay-white;
      }
    }
  }
  .top-bar-right {
    .menu {
      li {
        a{
          background: $overlay-black;
          border-radius: $radius;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $overlay-white;
            color: $black;
          }
        }
      }
    }
  }
}

// ID SCSS
