// Place all the styles related to the global layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color Variables
$black: #000;
$white: #fff;
$off-white: #ecedee;
$light-grey: #cbcbcb;

$primary-color: #1dcab2;
$primary-red: #ca1d1d;

$overlay-white: rgba(255, 255, 255, .25);
$overlay-black: rgba(00, 00, 00, .25);

$radius: 4px;
$font-family: 'Dosis', 'Segoe UI', 'Helvetica Neue', Helveitca, Arial, sans-serif;

// Tag SCSS
body {
  font-family: $font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

// Class SCSS
.page-title {
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 15px 20px;
  background: $off-white;
  border-radius: $radius;
  line-height: 1;
  .button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: $radius;
    font-size: 16px;
    padding: 12px;
    background: $primary-color;
    color: $black;
    opacity: 1;
    transition: all .5s;
    &:hover {
      opacity: .5;
      color: $off-white;
    }
  }
}

.top-bar {
  background: $primary-color;
  .menu {
    background: transparent;
    .menu-text {
      background: $overlay-black;
      border-radius: $radius;
      transition: all .5s;
      a {
        padding: 0 !important;
        margin: 0;
        color: $white;
        opacity: 1;
        transition: all .5s;
        &:hover {
          color: $black;
        }
      }
      &:hover {
        background: $overlay-white;
      }
    }
    a {
      color: $black;
      transition: all .5s;
      &:hover {
        color: $white;
      }
    }
  }
  .top-bar-right {
    .menu {
      li {
        a{
          background: $overlay-black;
          border-radius: $radius;
          color: $white;
          transition: all .5s;
          &:hover {
            background: $overlay-white;
            color: $black;
          }
        }
      }
    }
  }
}

.alert {
  position: relative;
  background: $off-white;
  border-top: 3px solid $primary-red;
  padding: 20px;
  border-radius: $radius;
  ul {
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $off-white;
    background: $primary-red;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    border-radius: $radius;
    font-size: 26px;
    font-weight: bold;
    opacity: 1;
    transition: all .5s;
    &:hover {
      opacity: .5;
    }
  }
  &.alert-notice {
    border-color: $primary-color;
    .close {
      background: $primary-color;
    }
  }
}

// ID SCSS
