// Place all the styles related to the global layout here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Color Variables
$black: #000;
$white: #fff;

$primary-color: #1dcab2;

$overlay-white: rgba(255, 255, 255, .25);
$overlay-black: rgba(00, 00, 00, .25);

$radius: 4px;

// Tag SCSS
body {
  font-family: sans-serif;
}

// Class SCSS
.top-bar {
  background: $primary-color;
  .menu {
    background: transparent;
    .menu-text {
      background: $overlay-black;
      border-radius: $radius;
      a {
        padding: 0 !important;
        margin: 0;
        color: $white;
        opacity: 1;
        transition: all .3s;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

// ID SCSS
