// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'layout';

.note-title {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.note-text {
  font-size: 22px;
  font-weight: 300;
}
.action-row {
  margin: 0;
  padding: 0;
  .button {
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: $black;
    background: $primary-color;
    display: block;
    border: 1px solid $off-white;
    opacity: 1;
    transition: all .5s;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      opacity: .5;
      color: $off-white;
    }
  }
}

.card {
  background: $off-white;
  border-radius: $radius;
  padding: 20px;
  margin-bottom: 20px;
  transform: translateY(100%);
  transition: all .5s;
  opacity: .01;
  .note-title {
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: $radius;
    background: $light-grey;
  }
  .note-excerpt {
    color: $black;
    font-size: 20px;
  }
  .button {
    margin: 20px 0 0 0;
    padding: 13px 10px;
    border: 1px solid $off-white;
    background: $primary-color;
    text-transform: uppercase;
    color: $black;
    font-size: 16px;
    opacity: 1;
    transition: all .5s;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      opacity: .5;
      color: $off-white;
    }
  }
}
